# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/

# Environment variables / secrets
.env

# Jupyter
.ipynb_checkpoints/

# Local data
data/raw/
data/bronze/
data/silver/
data/gold/
data/quarantine/

# Temporary files
*.tmp
*.log

# VS Code
.vscode/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log
crash.*.log

# External datasets
data/external/

# Generated source systems
data/source_systems/

# Generated ground truth
data/ground_truth/